<nb-card>
  <nb-card-body>
    <textarea rows="3" nbInput fullWidth 
      shape="round"  placeholder="Type here..."
      [(ngModel)]="text">
    </textarea>
    <br><br>
    <button nbButton outline status="info"
      [disabled]="text === ''"
      (click)="getSentimentPrediction()">Find sentiment</button>
  </nb-card-body>
</nb-card>


<nb-card *ngIf="predictions.length>0">
  <nb-card-body>
    <h3>Prediction</h3>
    <table>
      <tr>
        <th>Machine Learning Model</th>
        <th>Sentiment</th>
      </tr>
      <tr *ngFor="let prediction of predictions">
        <td>{{prediction.modelName}}</td>
        <td>{{prediction.sentiment}}</td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>
